$color-primary-dark: #6C2099;
$color-primary: #A768CC;
$color-primary-light: #A49CFF;

$secondary: #FFF6CB;
$secondaryDark: #CCA968;

$color-grey-light-1: #f7f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;

  /* most browsers default to 16px. Hardcoding 10px means it won't work on some displays where users have zoomed in/set a different font size. 16/10 = 62.5% */


}

body {
  box-sizing: border-box;
  padding: 3rem;

}

body {
  background-color: white;
  color: $secondary;
}

.header {
  height: 50vh;
  // background-image: linear-gradient(to right bottom,
  // rgba($color-primary, 0.8),
  // rgba($color-primary-dark, 0.8));
  background-color: $color-primary-dark;
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 30vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 30vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 10rem;
  }
}

.bg-video {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: .3;
  overflow: hidden;
  z-index: -1;


  &__content {
    position: absolute;
    top: -.5rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.section-account {
  background-color: $color-grey-light-1;
  padding: 10rem 0;
  margin-top: -20vh;
}